DEBUG=False
SECRET_KEY=(e7ml)vkmhta4a52%_9s10vr83(pks@qd1ob&rek@p6h=3qgh1
JWT_SECRET=8u^32jznh#p+aaod%o+6&5t5e_iwegn-nmh(=g12cd-4&=51r8
ALLOWED_HOSTS=trade-updated.onrender.com,s24tx.com,www.s24tx.com,.onrender.com
SITE_URL=https://s24tx.com
DB_ENGINE=django.db.backends.sqlite3
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000
CSRF_TRUSTED_ORIGINS=https://trade-updated.onrender.com,https://s24tx.com,https://www.s24tx.com
CORS_ALLOWED_ORIGINS=https://trade-updated.onrender.com,https://s24tx.com,https://www.s24tx.com
CORS_ALLOW_ALL_ORIGINS=False
GUNICORN_WORKERS=1
GUNICORN_TIMEOUT=120
PYTHON_VERSION=3.12.7
NODE_VERSION=22.12.0
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
